# R Capstone Project Cyclist

 **Task Question: How do annual members and casual riders use Cyclistic bikes differently?**
 
For the analysis of the data I decided to use R data because the data is too large for using Google Spreadsheets or Microsoft Excel

## Prepare

In [ ]:
# loading the necessary packages 
library(tidyverse)
library(readr)

In [ ]:
# read the CSV files and create data frames
August_2022 <- read_csv("data/202208-divvy-tripdata.csv")
September_2022 <- read_csv("data/202209-divvy-tripdata.csv")
October_2022 <- read_csv("data/202210-divvy-tripdata.csv")
November_2022 <- read_csv("data/202211-divvy-tripdata.csv")
December_2022 <- read_csv("data/202212-divvy-tripdata.csv")
January_2023 <- read_csv("data/202301-divvy-tripdata.csv")
February_2023 <- read_csv("data/202302-divvy-tripdata.csv")
March_2023 <- read_csv("data/202303-divvy-tripdata.csv")
April_2023 <- read_csv("data/202304-divvy-tripdata.csv")
May_2023 <- read_csv("data/202305-divvy-tripdata.csv")
June_2023 <- read_csv("data/202306-divvy-tripdata.csv")
July_2023 <- read_csv("data/202307-divvy-tripdata.csv")

In [5]:
# control if all 12 data sets are saved for the analysis
objects <- ls()# Count the number of data sets
dataset_count <- sum(sapply(objects, function(obj) is.data.frame(get(obj))))
                            
# Print the count
cat("Number of datasets:", dataset_count, "\n")

Number of datasets: 12

## Process

In [8]:
# 1.  before merging data - I compared if the data frames have the same column names and that the classes of these match
# Loading the necessary packages 
library(skimr)
library(janitor)
compare_df_cols_same(August_2022, September_2022,October_2022, November_2022, December_2022, January_2023,February_2023, March_2023, April_2023, May_2023, June_2023, July_2023 )
## True means here that the column are named equal and the type of variable are equal between columns

[1] TRUE

In [19]:
# 2. merging/joining the rows of the 12 data frames 

Cyclist_merged<- bind_rows(August_2022, September_2022, October_2022, November_2022, December_2022, January_2023,February_2023, March_2023, April_2023, May_2023, June_2023, July_2023)

In [20]:
# 3. checking for duplicate data- in this case in the column "ride_id"

# I Checked for duplicates in the "ride_id" column
duplicates <- Cyclist_merged[duplicated(Cyclist_merged$ride_id), ]
# View the rows with duplicate ride_id values
print(duplicates)
## results showed that there is not duplicated ride ids, because the tible table has Cero rows

# A tibble: 0 × 13
# ℹ 13 variables: ride_id <chr>, rideable_type <chr>, started_at <dttm>,
#   ended_at <dttm>, start_station_name <chr>, start_station_id <chr>,
#   end_station_name <chr>, end_station_id <chr>, start_lat <dbl>,
#   start_lng <dbl>, end_lat <dbl>, end_lng <dbl>, member_casual <chr>

In [21]:
# 4. checking for missing values

missing_counts <- colSums(is.na(Cyclist_merged))##to see missing values per column
missing_counts_df <- data.frame(Column = names(missing_counts), Missing_Count = missing_counts)## to see it in a table
missing_counts_df

                   Column             Missing_Count
ride_id            ride_id                 0
rideable_type      rideable_type           0
started_at         started_at              0
ended_at           ended_at                0
start_station_name start_station_name 868772
start_station_id   start_station_id   868904
end_station_name   end_station_name   925008
end_station_id     end_station_id     925149
start_lat          start_lat               0
start_lng          start_lng               0
end_lat            end_lat              6102
end_lng            end_lng              6102
member_casual      member_casual           0

In [22]:
# 5. removing missing values.
# I decided to remove the rows with missing values
Cyclist_merged <- na.omit(Cyclist_merged)

In [14]:
# 6. checking results after cleaning data

skim_without_charts(Cyclist_merged)
# all variables show Cero in the n_missing parameter

── Data Summary ────────────────────────
                           Values
Name                       Cyclist_merged
Number of rows             4340367
Number of columns          13
_______________________
Column type frequency:
  character                7
  numeric                  4
  POSIXct                  2
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
  skim_variable      n_missing complete_rate min max empty n_unique whitespace
1 ride_id                    0             1  16  16     0  4340367          0
2 rideable_type              0             1  11  13     0        3          0
3 start_station_name         0             1   3  64     0     1678          0
4 start_station_id           0             1   3  35     0     1448          0
5 end_station_name           0             1   3  64     0     1702          0
6 end_station_id             0             1   3  36     0     1459          0
7 member_casual              0             1   6   6     0        2          0

── Variable type: numeric ──────────────────────────────────────────────────────
  skim_variable n_missing complete_rate  mean     sd    p0   p25   p50   p75
1 start_lat             0             1  41.9 0.0428  41.6  41.9  41.9  41.9
2 start_lng             0             1 -87.6 0.0250 -87.8 -87.7 -87.6 -87.6
3 end_lat               0             1  41.9 0.0768   0    41.9  41.9  41.9
4 end_lng               0             1 -87.6 0.135  -87.8 -87.7 -87.6 -87.6
   p100
1  42.1
2 -87.5
3  42.1
4   0

── Variable type: POSIXct ──────────────────────────────────────────────────────
  skim_variable n_missing complete_rate min                 max
1 started_at            0             1 2022-08-01 00:00:07 2023-07-31 23:59:15
2 ended_at              0             1 2022-08-01 00:05:44 2023-08-01 20:40:50
  median              n_unique
1 2023-02-15 06:53:05  3792206
2 2023-02-15 07:01:25  3803651

Warning message in is.null(text_repr) || nchar(text_repr) == 0L:
"'length(x) = 20 > 1' in coercion to 'logical(1)'"

,skim_type,skim_variable,n_missing,complete_rate,POSIXct.min,POSIXct.max,POSIXct.median,POSIXct.n_unique,character.min,character.max,character.empty,character.n_unique,character.whitespace,numeric.mean,numeric.sd,numeric.p0,numeric.p25,numeric.p50,numeric.p75,numeric.p100
,<chr>,<chr>,<int>,<dbl>,<dttm>,<dttm>,<dttm>,<int>,<int>,<int>,<int>,<int>,<int>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>
1,POSIXct,started_at,0,1,2022-08-01 00:00:07,2023-07-31 23:59:15,2023-02-15 06:53:05,3792206,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,POSIXct,ended_at,0,1,2022-08-01 00:05:44,2023-08-01 20:40:50,2023-02-15 07:01:25,3803651,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,character,ride_id,0,1,NA,NA,NA,NA,16,16,0,4340367,0,NA,NA,NA,NA,NA,NA,NA
4,character,rideable_type,0,1,NA,NA,NA,NA,11,13,0,3,0,NA,NA,NA,NA,NA,NA,NA
5,character,start_station_name,0,1,NA,NA,NA,NA,3,64,0,1678,0,NA,NA,NA,NA,NA,NA,NA
6,character,start_station_id,0,1,NA,NA,NA,NA,3,35,0,1448,0,NA,NA,NA,NA,NA,NA,NA
7,character,end_station_name,0,1,NA,NA,NA,NA,3,64,0,1702,0,NA,NA,NA,NA,NA,NA,NA
8,character,end_station_id,0,1,NA,NA,NA,NA,3,36,0,1459,0,NA,NA,NA,NA,NA,NA,NA
9,character,member_casual,0,1,NA,NA,NA,NA,6,6,0,2,0,NA,NA,NA,NA,NA,NA,NA
10,numeric,start_lat,0,1,NA,NA,NA,NA,NA,NA,NA,NA,NA,41.90142,0.04279524,41.64850,41.88096,41.89662,41.92871,42.06485
11,numeric,start_lng,0,1,NA,NA,NA,NA,NA,NA,NA,NA,NA,-87.64495,0.02495401,-87.84402,-87.65814,-87.64182,-87.62872,-87.52823
12,numeric,end_lat,0,1,NA,NA,NA,NA,NA,NA,NA,NA,NA,41.90171,0.07675173,0.00000,41.88096,41.89675,41.92883,42.06485
13,numeric,end_lng,0,1,NA,NA,NA,NA,NA,NA,NA,NA,NA,-87.64502,0.13538473,-87.84406,-87.65862,-87.64288,-87.62915,0.00000

In [24]:
# 7. Adding more variables 

# 7.1. I created a variable that calculate length of a ride: ride_length

Cyclist_merged$ride_length <- difftime(Cyclist_merged$ended_at, Cyclist_merged$started_at)# thedefault units is seconds
Cyclist_merged$ride_length <- round(Cyclist_merged$ride_length, digits = 1)# for having only one decimal place

# checking the new variable
Cyclist_merged%>% 
  select(ride_length)%>%
  head()

  ride_length
1  544 secs
2   45 secs
3 3698 secs
4  858 secs
5 5558 secs
6   10 secs

In [25]:


#7.2. I created two new variables by separating the column "started_at" into "started_date" and "started_time"

Cyclist_merged$started_date <- as.Date(Cyclist_merged$started_at)
Cyclist_merged$started_time <- format(as.POSIXct(Cyclist_merged$started_at),format= "%H:%M:%S")

# checking the new variables
Cyclist_merged%>%
  select(started_date)%>%
  head()

Cyclist_merged%>%
  select(started_time)%>%
  head()

  started_date
1 2022-08-05
2 2022-08-11
3 2022-08-21
4 2022-08-21
5 2022-08-21
6 2022-08-19

  started_time
1 16:13:36
2 23:30:11
3 14:09:08
4 16:15:12
5 02:11:26
6 21:40:21

In [27]:
# 7.3. Create the column "day_of_week", in which is calculated the day of the week that each ride startet
# 1= sunday, and 7= saturday

# before this is important to set the local time in this case english
Sys.setlocale("LC_TIME", "en_US")
# checking the local time
Sys.getlocale("LC_TIME") 

# creating the new variable
Cyclist_merged$day_of_week <- weekdays(Cyclist_merged$started_at)

# checking the new variable
Cyclist_merged%>%
  select(day_of_week)%>%
  head()

[1] "en_US"

[1] "en_US"

  day_of_week
1 Friday
2 Thursday
3 Sunday
4 Sunday
5 Sunday
6 Friday

In [28]:
#7.4. checking if the data have the 4 new columns (ride_length, started_date, started_time and day_of_week) I added

colnames(Cyclist_merged)##checking the columns

 [1] "ride_id"            "rideable_type"      "started_at"
 [4] "ended_at"           "start_station_name" "start_station_id"
 [7] "end_station_name"   "end_station_id"     "start_lat"
[10] "start_lng"          "end_lat"            "end_lng"
[13] "member_casual"      "ride_length"        "started_date"
[16] "started_time"       "day_of_week"

## Analyze